<h2 class="text-center">Modify Employee</h2>
<div class="col-md-3"></div>
<div class="col-md-6">
	<form class="form-horizontal" ng-controller="modifyEmployee" novalidate
		ng-init="initialise()" id="modifyEmployeeForm"
		name="modifyEmployeeForm">
		<div class="form-group">
			<label for="employeeId" class="control-label col-sm-3 text-right">Employee:
			</label>
			<div class="col-sm-9">
				<select class="form-control" id="employeeId" name="employeeId"
					ng-model="employee.employeeId"
					ng-options="employee.employeeId as employee.name+' ('+employee.emailId+')' for employee in employees track by employee.employeeId"
					ng-change="populateForm()" required>
					<option value="" selected>--Please Select--</option>
				</select> <span class="text-warning"
					ng-show="modifyEmployeeForm.employeeId.$touched && modifyEmployeeForm.employeeId.$error.required">Employee
					cannot be blank</span>
			</div>
		</div>

		<div class="form-group">
			<label for="phoneNumber" class="control-label col-sm-3 text-right">Phone
				Number: </label>
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon">+91</span> <input type="text"
						class="form-control" id="phoneNumber" name="phoneNumber"
						ng-model="employee.phoneNumber" pattern="[0-9]{10}" required>
				</div>
				<span class="text-warning"
					ng-show="modifyEmployeeForm.phoneNumber.$touched && modifyEmployeeForm.phoneNumber.$error.required">Phone
					number cannot be blank</span> <span class="text-warning"
					ng-show="modifyEmployeeForm.phoneNumber.$touched && modifyEmployeeForm.phoneNumber.$error.pattern">Phone
					number must be numerical and 10 digit long.</span>

			</div>
		</div>

		<div class="form-group">
			<label for="address" class="control-label col-sm-3 text-right">Address:
			</label>
			<div class="col-sm-9">
				<textarea class="form-control" id="address" rows="3" name="address"
					ng-model="employee.address" required></textarea>
				<span class="text-warning"
					ng-show="modifyEmployeeForm.address.$touched && modifyEmployeeForm.address.$error.required">Address
					cannot be blank</span>
			</div>
		</div>

		<div class="form-group">
			<label for="departmentId" class="control-label col-sm-3 text-right">Department:
			</label>
			<div class="col-sm-9">
				<select class="form-control" id="departmentId" name="departmentId"
					ng-model="employee.departmentId"
					ng-options="department.departmentId as department.name for department in departments"
					ng-change="setProjects()" required>
					<option value="" selected>--Please Select--</option>
				</select> <span class="text-warning"
					ng-show="modifyEmployeeForm.departmentId.$touched && modifyEmployeeForm.departmentId.$error.required">Department
					cannot be blank</span>
			</div>
		</div>

		<div class="form-group">
			<label for="projectId" class="control-label col-sm-3 text-right">Project:
			</label>
			<div class="col-sm-9">
				<select class="form-control" id="projectId" name="projectId"
					ng-model="employee.projectId"
					ng-options="project.projectId as project.name for project in projects"
					required>
					<option value="" selected>--Please Select--</option>
				</select> <span class="text-warning"
					ng-show="modifyEmployeeForm.projectId.$touched && modifyEmployeeForm.projectId.$error.required">Project
					cannot be blank</span>
			</div>
		</div>

		<div class="form-group">
			<label for="roleId" class="control-label col-sm-3 text-right">Role:
			</label>
			<div class="col-sm-9">
				<select class="form-control" id="roleId" name="roleId"
					ng-model="employee.roleId"
					ng-options="role.roleId as role.name for role in roles" required>
					<option value="" selected>--Please Select--</option>
				</select> <span class="text-warning"
					ng-show="modifyEmployeeForm.roleId.$touched && modifyEmployeeForm.roleId.$error.required">Role
					cannot be blank</span>
			</div>
		</div>

		<div class="form-group text-center">
			<button type="submit" class="btn btn-primary" ng-click="modify()">
				Modify This Employee</button>
		</div>
	</form>


</div>
<div class="col-md-3"></div>
